.info {
    &_title {
        font-family: 'New Tegomin', serif;
        font-size: 30px;
        color: #fff;
        margin-top: 40px;
        text-align: center;
    }
    &_img {
        display: block;
        color: #fff;
        list-style-type: none;
        font-family: 'New Tegomin', serif;
        font-size: 20px;
        margin-top: 10px;
        text-align: left;
    }
}