.form-id {
    &_title {
        font-family: 'New Tegomin', serif;
        font-size: 30px;
        color: #fff;
        margin-top: 100px;
    }
    &_input {
        margin-top: 20px;
        border-radius: 20px;
        border: none;
        display: block;
        padding-left: 10px;
    }
    &_btn {
        margin-top: 20px;
    }
}






